/.vscode

/bin
/build
/cocos2d
/linux-build

# No plans to support these platforms yet
/proj.android
/proj.ios_mac/ios

*.a
*.lib
*.dll
*.so

# CMake artifacts
/CMakeCache.txt
/CMakeFiles
/Makefile
/cmake_install.cmake
/engine

/Resources/servers.yaml